@import "../../../assets/less/main.less";

.componentbuilding__width .basic.segment,
.tabcontent--data__wrapper,
.componentbuilding__PracticeGrid>.row,
.componentbuilding__PracticeGrid>.row>.card,
.componentbuilding__width,
.ui.form,
.ui.cards.practice-page_container,
.ui.horizontal.segments ,
.ui.card.componentbuilding__width{
    width:100% ;
}

.CornerFlagContainer {
    position: relative;
    min-height: 4em;
}
.login--page {
    position: relative;
    padding-bottom: 70px !important;
}
.componentbuilding__width_card {
    max-width: 600px;
}
/*.componentbuilding__width {

   
    p.singleCard__address_detail {
        margin: 9px 0 6px;
        font-size: 14px;
        color:#333333;
        font-weight: 500;
        line-height: normal;
    }
    
    .singlecard-call__icon {
        transform: rotate(90deg);
    }

    .content.singlecard__group--content {
        padding-left: 15px;
    }
    .ui.horizontal.list.singleCard-contact_details {
        display: flex;
        .item{
            display: flex;
            overflow: hidden;
            width: ~'calc(100% - 140px)';
            flex: 0 0 auto;
            color: #969696;
            .content.contact_details-call__icon {
                margin-right: 15px;
                span{
                    margin-left: 10px;
                }
            }
            .contact_details-mail__icon {
                width: 100%;
                svg {
                    vertical-align: top;
                    margin-top: 1px;
                }
                span.email--span{
                    margin-left: 10px;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: ~'calc(100% - 25px)';
                }
            }
            
            &:first-child{
                flex: 0 0 140px;
            }
        }

    }
    .practice--card_footer {
        margin-left:0;
        margin-right:0;
        justify-content: space-evenly;
        
        .practice--card-footer__columns {
            display: flex;
            text-align: left;
            border-right: solid 1px #ccc;
            padding: 0;
            margin: 15px 0;
            width: auto;
            &.clinician{
                .practice--card-footer-icon{
                    margin-left: 0px;
                }
            }

            &.locations{
                border-right: 0;
                .practice--card-footer__inner-content {
                    margin-right: 0rem;
                }
            }
            
        }
            .practice--card-footer-icon{
                    font-size: 28px;
                    margin: 7px 6px;
               
                }
            .singlecard-count {
                font-weight: 700;
                margin-bottom: inherit;
                font-size: 20px ;
                color: #1D1D1D;
            }
            .provider_groups {
                font-size: 12px ;
                margin: 0;
            }
    }
    .ui.card
    .practice-card--header {
     margin: 10px;

        h3.meta.singlecard__group {
            margin: 0;
            padding: 0 0 0px;

            span.singlecard__id {
                font-size: 14px;
                font-weight: 400;
                color:#333333;
            }
        }

        span.singlecard-name {
            font-size: 16px;
            font-weight: 400;
        }

        .description {
            margin: 4px 0 0 ;

            .ui.circular.label.singlecard-status__circular {
                font-size: 10px;
                padding: 3px 10px ;
                margin: 0;
                font-weight: normal;
                line-height: normal;
            }
            
        }
        .image:not(.ui).logo-practice {
            flex: 0 0 70px;
            width: 70px;
        }
       
            .singlecard-payment__status {
            font-size: 10px;
            padding: 3px 10px;
            font-weight: normal;
            min-height: inherit;
            border-radius: 10px;
            line-height: normal;
        
    }
        .singlecard-stamp {
            height: 14px;
            width: 14px;
        }
        .ui.items.practice-card_group {
            width: 100%;
        }
    }

    .status-label--position {
        transform: rotate(45deg);
        position: absolute;
        top: 13px;
        right: 0;
        left: 10px;
        font-size: .75rem;
        font-weight: 400;
    }
}*/